In [1]:
import sqlite3

conn = sqlite3.connect('staff.db')
cursor = conn.cursor()


cursor.execute('''CREATE TABLE IF NOT EXISTS employee (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT UNIQUE NOT NULL,
    last_name TEXT UNIQUE NOT NULL,
    email TEXT UNIQUE NOT NULL,
    age INTEGER,
    wages FLOAT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)''')


users_data = [
    ('John','Sigal', 'sigal_j@example.com', 30, 2400.00),
    ('Juliya', 'Roberts', 'robers_j@example.com', 25, 1800.00),
    ('Alice', 'White', 'white_a@example.com', 28, 3200.00),
    ('Bob','Dilan', 'dilan_b@example.com', 35, 4100.00),
]

cursor.executemany("INSERT INTO employee (first_name, last_name, email, age, wages) VALUES (?, ?, ?, ?, ?)", users_data)

# Запрос данных
cursor.execute("SELECT * FROM employee")
users = cursor.fetchall()
for user in users:
    print(user)
    
    
conn.commit()
conn.close()

(1, 'John', 'Sigal', 'sigal_j@example.com', 30, 2400.0, '2024-03-05 12:44:12')
(2, 'Juliya', 'Roberts', 'robers_j@example.com', 25, 1800.0, '2024-03-05 12:44:12')
(3, 'Alice', 'White', 'white_a@example.com', 28, 3200.0, '2024-03-05 12:44:12')
(4, 'Bob', 'Dilan', 'dilan_b@example.com', 35, 4100.0, '2024-03-05 12:44:12')

In [3]:
conn = sqlite3.connect('staff.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM employee")
users = cursor.fetchall()
for user in users:
    print(user)
    
conn.commit()
conn.close()

(1, 'John', 'Sigal', 'sigal_j@example.com', 30, 2400.0, '2024-03-05 12:44:12')
(2, 'Juliya', 'Roberts', 'robers_j@example.com', 25, 1800.0, '2024-03-05 12:44:12')
(3, 'Alice', 'White', 'white_a@example.com', 28, 3200.0, '2024-03-05 12:44:12')
(4, 'Bob', 'Dilan', 'dilan_b@example.com', 35, 4100.0, '2024-03-05 12:44:12')